.copy_right footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 6px 8px 0 rgba(red, green, blue, alpha);
}

img:hover{
    border-radius: 140px;
}